<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inventory-list">
          <ion-list-header>Inventory Dashboard by Raudhotin H1D021014</ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="['/inventory']"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                ios="list-outline"
                md="list-sharp"
              ></ion-icon>
              <ion-label>Inventory List</ion-label>
            </ion-item>

            <!-- Add a new menu item for logout -->
            <ion-item
              routerDirection="root"
              [routerLink]="['/dashboard']"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                ios="exit-outline"
                md="exit-sharp"
              ></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
